*,*:before,*:after{
    box-sizing: border-box;
    // outline: 1px black solid;
  }
  body{
    font-family: "Noto Sans TC", "Roboto", sans-serif;
    line-height: 1.5;
  }
  img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  