<header class="header">
    <div class="container">
        <div class="header-wrapper d-flex justify-content-between align-items-center">
            <a href="./index.html" class="logo"><img src="../assets/images/logo-white.png" alt="logo"></a>
            <ul class="nav d-flex">
                <li class="nav-item d-block text-center"><a href="#">系列鏡框</a></li>
                <li class="nav-item d-block text-center"><a href="#">門市據點</a></li>
                <li class="nav-item d-block text-center"><a href="#">部落格</a></li>
                <li class="nav-item d-block text-center"><a href="/pages/questions.html">常見問題</a></li>
            </ul>
        </div>
    </div>
</header>