.footer{
    background: $primary;
    color: $light;
    &-wrapper{
        padding-top: 48px;
        padding-bottom: 32px;
        border-bottom: 1px solid $light;
    }
    &-nav{
        width: 464px;
        margin-top: 12px;
        margin-bottom: 36px;
    }
}

.footer a:hover{
    text-decoration: underline;
}

.contact-item{
    font-size: 36px;
}
.social-item{
    width: 48px;
}
.social-item:hover{
    scale: (1.2);
    transition: 0.95s;
}

.material-symbols-outlined{
    font-size: 48px;
    vertical-align: middle;
    margin-right: 20px;
}


@include mobile-larger{
    .footer-wrapper{
        padding: 24px 0;
    }
    .footer-nav{
        display: none;
    }
    .contact-item{
        font-size: 16px;
    }
    .social-item{
        width: 24px;
        margin-left: 8px;
    }
    .material-symbols-outlined{
        font-size: 16px;
        margin-right: 10px;
    }
}

.footer-copyright{
    padding: 32px 0;
}

@include mobile-larger{
    .footer-copyright{
        display: block;
        padding-top: 16px;
        padding-bottom: 24px;
    }
    .copyright-service{
        display: block;
    }
    .ms-12{
        margin-left: 0;
    }
    .mb-sm-2{
        margin-bottom: 8px;
    }
}
