<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="css/all.scss">
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="banner text-secondary">
        <div class="container h-100 d-flex flex-column justify-content-center align-items-end">
            <h2 class="banner-subtitle fs-9">Promise-Desert 2020 早春系列</h2>
            <h1 class="banner-title fs-16 bold mb-1 mb-sm-2">看得清，才能看得遠</h1>
            <a href="#" class="banner-cta fs-5 text-light bg-primary">立即購買</a>
        </div>
      </section>

      <section class="feature">
        <div class="container">
          <h3 class="fs-12 fs-sm-6 text-center text-secondary bold mb-8">用專業的心，做專業的事</h3>
          <ul class="feature-list d-flex flex-wrap justify-content-between">
            <li class="card">
              <div class="card-head d-flex flex-column align-items-center mb-2">
                <img src="../assets/images/home-section2-1.png" alt="費用icon">
                <h4 class="fs-6 text-secondary bold">單一價格</h4>
              </div>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="card">
              <div class="card-head d-flex flex-column align-items-center mb-2">
                <img src="../assets/images/home-section2-2.png" alt="時間icon">
                <h4 class="fs-6 text-secondary bold">20 分鐘即可取件</h4>
              </div>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </li>
            <li class="card">
              <div class="card-head d-flex flex-column align-items-center mb-2">
                <img src="../assets/images/home-section2-3.png" alt="安心icon">
                <h4 class="fs-6 text-secondary bold">安心售後服務</h4>
              </div>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </li>
            <li class="card">
              <div class="card-head d-flex flex-column align-items-center mb-2">
                <img src="../assets/images/home-sectioin2-4.png" alt="鏡片icon">
                <h4 class="fs-6 text-secondary bold">關於鏡片</h4>
              </div>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="classic">
        <div class="container">
          <h3 class="fs-12 fs-sm-6 text-center text-secondary bold mb-12 mb-sm-6">經典系列鏡框</h3>
          <ul class="card-list d-flex flex-wrap justify-content-between">
            <li class="card">
              <img src="../assets/images/home-section3-1.png" alt="optical-pic" class="cobrand-product mb-2"></img>
              <h4 class="fs-12 text-center text-primary bold italic mb-md-6">OPTICAL</h4>
            </li>
            <li class="card">
              <img src="../assets/images/home-section3-2.png" alt="sunglasses-pic" class="mb-2"></img>
              <h4 class="fs-12 text-center text-primary bold italic mb-md-6">SUNGLASSES</h4>
            </li>
            <li class="card">
              <img src="../assets/images/home-section3-3.png" alt="functinal-pic" class="mb-2"></img>
              <h4 class="fs-12 text-center text-primary bold italic mb-md-6">FUNCTIONAL</h4>
            </li>
          </ul>
        </div>
      </section>
      <section class="cobrand">
        <div class="container">
          <h3 class="fs-12 text-center text-light bold mb-12">聯名設計鏡框</h3>
          <ul class="d-flex flex-wrap">
            <li class="card mb-md-6">
              <picture>
                <source srcset="../assets/images/home-section4-1-sm.png" media="(max-width: 576px)">
                <img src="../assets/images/home-section4-1.png" alt="double_A-pic">
              </picture>
              <h4 class="fs-12 text-center text-primary italic bold bg-light pd-2-0">DOUBLE A+</h4>
            </li>
            <li class="card">
              <picture>
                <source srcset="../assets/images/home-section4-2-sm.png" media="(max-width: 576px)">
                <img src="../assets/images/home-section4-2.png" alt="youth-pic">
              </picture>
              <h4 class="fs-12 text-center text-primary italic bold bg-light pd-2-0">YOUTH</h4>
            </li>
          </ul>
        </div>
      </section>
      <section class="recommend">
        <div class="container">
          <h3 class="fs-12 text-center text-secondary bold mb-12">顧客推薦</h3>
          <ul class="card-list d-flex flex-wrap justify-content-between">
            <li class="card d-flex flex-column mb-md-6 mb-sm-4">
              <img src="../assets/images/home-section5-1.png" alt="customer-pic">
              <div class="d-flex flex-column pd-4 h-100" style="height: 205px;">
                <h4 class="mb-2 bold">Jessy</h4>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                <time datetime="2021-6-20" class="text-date mt-auto" style="font-size: 14px;">2021/06/20</time>
              </div>
            </li>
            <li class="card d-flex flex-column mb-md-6 mb-sm-4">
              <img src="../assets/images/home-section5-2.png" alt="customer-pic">
              <div class="d-flex flex-column pd-4 h-100" style="height: 205px;">
                <h4 class="mb-2 bold">凱倫</h4>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <time datetime="2021-4-18" class="text-date mt-auto" style="font-size: 14px;">2021/04/18</time>
              </div>
            </li>
            <li class="card d-flex flex-column mb-sm-4">
              <img src="../assets/images/home-section5-3.png" alt="customer-pic">
              <div class="d-flex flex-column pd-4 h-100" style="height: 205px;">
                <h4 class="mb-2 bold">悠悠</h4>
                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次再回購！</p>
                <time datetime="2020-12-25" class="text-date mt-auto" style="font-size: 14px;">2020/12/25</time>
                </div>
            </li>
            <li class="card d-flex flex-column">
              <img src="../assets/images/home-section5-4.png" alt="customer-pic">
              <div class="d-flex flex-column pd-4 h-100" style="height: 205px;">
                <h4 class="mb-2 bold">Kyuan</h4>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                <time datetime="2021-6-20" class="text-date mt-auto" style="font-size: 14px;">2020/10/31</time>
              </div>
            </li>
          </ul>
         </div>
        </div>
      </section>
      <section class="contact bg-bg-light">
        <div class="container">
          <div class="w-50 w-md-83 w-sm-100 m0-auto">
            <h3 class="fs-12 text-center text-secondary bold mb-12">聯絡我們</h3>
            <p class="fs-5 mb-6">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們將在近期與您聯繫。</p>
            <form action="#" class="contact-form">
              <ul>
                <li>
                  <label for="name" class="d-block mb-2">姓名</label>
                  <input type="text" id="name" placeholder="陳小明" class="contact-input d-block w-100 bg-bg-light fs-4 mb-4">                
                </li>
                <li>
                  <label for="phone" class="d-block mb-2">連絡電話</label>
                  <input type="tel" id="phone" placeholder="0912-345-678" class="contact-input d-block w-100 bg-bg-light fs-4 mb-4">
                </li>
                <li>
                  <label for="email" class="d-block mb-2">電子郵件</label>
                  <input type="email" id="email" placeholder="example@email.com" class="contact-input d-block w-100 bg-bg-light fs-4 mb-4">
                </li>
                <li>
                  <label for="comment" class="d-block mb-2">意見反應</label>
                  <textarea name="comment" id="comment" placeholder="請輸入您的意見" class="contact-input d-block w-100 bg-bg-light fs-4 mb-4" style="height: 136px;"></textarea>
                </li>
                <li class="mb-12">
                  <input type="checkbox" id="agree">
                  <label for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                </li>
              </ul>
              <button type="submit" class="d-block contact-btn text-light bg-primary w-100 m0-auto">確認送出</button>
            </form>
          </div>
        </div>
      </section>
    </main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
